<div class="container">
  <p id="notice"><%= notice %></p>
  <h1>Products</h1>
</div>

<hr>
<br>
<% @products.each do |product| %>
<div class="product-wrapper">
    <div class="container">
        <div class="row">
          <div class="col-lg-4">
            <%= image_tag(product.image_url, class: 'img-responsive') %>
          </div>
          <div class="col-lg-4">
            <%= truncate(strip_tags(product.description), length: 80, class: 'align-middle') %>
          </div>
          <div class="col-lg-4">
            <%= link_to 'Show', product %><br/>
            <%= link_to 'Edit', edit_product_path(product) %><br/>
            <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
    </div> 
</div>
<% end %>

<br/>
<div class="container">
  <%= link_to 'New product', new_product_path %>
</div>